In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from ntscraper import Nitter

In [3]:
scraper = Nitter(0)

Testing instances:  12%|███████▍                                                        | 9/77 [00:25<04:47,  4.23s/it]

18-Apr-24 14:03:15 - Certificate did not match expected hostname: nitter.nl. Certificate: {'subject': ((('commonName', 'invidious.nl'),),), 'issuer': ((('countryName', 'US'),), (('organizationName', "Let's Encrypt"),), (('commonName', 'R3'),)), 'version': 3, 'serialNumber': '0324F83ECE64674709BEC8F5D3FE821FBD5E', 'notBefore': 'Apr  5 09:03:34 2024 GMT', 'notAfter': 'Jul  4 09:03:33 2024 GMT', 'subjectAltName': (('DNS', 'invidious.nl'), ('DNS', 'www.invidious.nl')), 'OCSP': ('http://r3.o.lencr.org',), 'caIssuers': ('http://r3.i.lencr.org/',)}

Testing instances:  92%|██████████████████████████████████████████████████████████     | 71/77 [02:38<00:09,  1.55s/it]

18-Apr-24 14:05:27 - Certificate did not match expected hostname: nt.ggtyler.dev. Certificate: {'subject': ((('commonName', '4g.ggtyler.dev'),),), 'issuer': ((('countryName', 'US'),), (('organizationName', "Let's Encrypt"),), (('commonName', 'R3'),)), 'version': 3, 'serialNumber': '048FA3D68DCD65927A6C57C2A3C9C1F8CA14', 'notBefore': 'Mar 15 00:26:35 2024 GMT', 'notAfter': 'Jun 13 00:26:34 2024 GMT', 'subjectAltName': (('DNS', '4g.ggtyler.dev'),), 'OCSP': ('http://r3.o.lencr.org',), 'caIssuers': ('http://r3.i.lencr.org/',)}

Testing instances:  95%|███████████████████████████████████████████████████████████▋   | 73/77 [02:40<00:04,  1.19s/it]

18-Apr-24 14:05:28 - Certificate did not match expected hostname: nitter.uni-sonia.com. Certificate: {'subject': ((('commonName', '*.xserver.jp'),),), 'issuer': ((('countryName', 'JP'),), (('organizationName', 'CloudSecure Corporation'),), (('commonName', 'CloudSecure RSA Domain Validation Secure Server CA 2'),)), 'version': 3, 'serialNumber': 'ACA67AD2030638EE2DCE8E845B8299A6', 'notBefore': 'Mar 11 00:00:00 2024 GMT', 'notAfter': 'Apr 11 23:59:59 2025 GMT', 'subjectAltName': (('DNS', '*.xserver.jp'), ('DNS', 'xserver.jp')), 'OCSP': ('http://ocsp.sectigo.com',), 'caIssuers': ('http://crt.sectigo.com/CloudSecureRSADomainValidationSecureServerCA2.crt',)}

Testing instances: 100%|███████████████████████████████████████████████████████████████| 77/77 [02:47<00:00,  2.18s/it]

In [4]:
def get_tweets(name, modes, no):
    tweets = scraper.get_tweets(name, mode = modes, number=no)
    final_tweets = []
    for x in tweets['tweets']:
        data = [x['text'],x['date']]
        final_tweets.append(data)
    dat= pd.DataFrame(final_tweets, columns =['text','date'])
    return dat

In [11]:
data = get_tweets('GOOG','term',6)

18-Apr-24 16:49:02 - No instance specified, using random instance https://nitter.privacydev.net
18-Apr-24 16:49:03 - Fetching error: Instance has been rate limited.Use another instance or try again later.

In [6]:
data

Empty DataFrame
Columns: [text, date]
Index: []

In [34]:
from transformers import pipeline

18-Apr-24 04:40:43 - From C:\Users\Rupesh\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [38]:
model = f"cardiffnlp/twitter-roberta-base-sentiment-latest"

sentiment_task = pipeline("sentiment-analysis", model=model)
sentiment_task("Covid cases are increasing fast!")

Downloading config.json:   0%|          | 0.00/929 [00:00<?, ?B/s]

Downloading pytorch_model.bin:   0%|          | 0.00/501M [00:00<?, ?B/s]

Some weights of the model checkpoint at cardiffnlp/twitter-roberta-base-sentiment-latest were not used when initializing RobertaForSequenceClassification: ['roberta.pooler.dense.weight', 'roberta.pooler.dense.bias']
- This IS expected if you are initializing RobertaForSequenceClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing RobertaForSequenceClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

Downloading vocab.json:   0%|          | 0.00/899k [00:00<?, ?B/s]

Downloading merges.txt:   0%|          | 0.00/456k [00:00<?, ?B/s]

Downloading (…)cial_tokens_map.json:   0%|          | 0.00/239 [00:00<?, ?B/s]

[{'label': 'negative', 'score': 0.7235762476921082}]

In [41]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
vader = SentimentIntensityAnalyzer()

f = lambda title: vader.polarity_scores(title)['compound']

In [42]:
data['compound'] = data['text'].apply(f)

In [43]:
data

,text,date,compound
0,$TSLA caught by our analyst in premarket. ht...,"Apr 17, 2024 · 11:06 PM UTC",0.0000
1,The ultimate destination for traders to excel ...,"Apr 17, 2024 · 11:06 PM UTC",0.7351
2,No Turbulence: United Airlines Stock Flies Des...,"Apr 17, 2024 · 11:06 PM UTC",0.1531
3,Thank you! Check out chatroom.stocktraders.liv...,"Apr 17, 2024 · 11:06 PM UTC",0.4199
4,The tech market final prices for: $AMZN 181.2...,"Apr 17, 2024 · 11:05 PM UTC",0.0000
5,Exclusive to our Discord! Join us here for unp...,"Apr 17, 2024 · 11:04 PM UTC",0.2225

In [46]:
data['date'][0]

'Apr 17, 2024 · 11:06 PM UTC'

In [9]:
# Convert 'Date' column to datetime format
data['date'] = pd.to_datetime(data['date'], format='%b %d, %Y · %I:%M %p UTC')

# Extract date and time into separate columns
data['Date_only'] = data['Date'].dt.date
data['Time_only'] = data['Date'].dt.time

NameError: name 'df' is not defined

In [10]:
mean_df = data.groupby(['date'])['compound'].mean().unstack()

KeyError: 'Column not found: compound'